@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50 text-gray-800 antialiased transition-colors duration-500;
}


input::placeholder {
  @apply text-gray-400;
}

.recharts-bar-background {
  fill: transparent !important;
}

.recharts-bar-background path,
.recharts-bar-background rect {
  fill: transparent !important;
  stroke: none !important;
}